body {
  margin: 0;
  padding: 0;
  background: hsl(0deg 0% 7%);
  color: white;
  min-height: 100%;
  font-size: 20px;
  font-family: "corruption", monospace, serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "corruption", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

a,
p {
  margin-top: 0;
  margin-bottom: 1em;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
